@model IEnumerable<doanasp.Models.Cart>
@{
    Layout = "_LayoutMember"; ViewData["Title"] = "Home Page";
    int Id = 0;
    string username = "anonymous";
    if (ViewBag.UserName != null)
    {
        username = ViewBag.UserName;
        @section Member{<li><a asp-controller="Accounts" asp-action="Logout">Logout</a></li>}
        @section name{<li><a asp-controller="Accounts" asp-action="iaccount">@username</a></li> }
    }
    else
    {
        @section Member{}
        @section name{@username}
    }

    if (ViewBag.id != null)
    {
        Id = ViewBag.id;

    }
}
@section idWish{@Id}
@section id{@Id}



<div  class="column" style="width:50% ;  margin-left:10%;">
    <table class="table">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    Sản phẩm
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product.SKU)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product.Price)
                </th>
                <th>
                    Function
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="~/img/product/@item.Product.Image" alt="Computer Man" style="width:100px;height:100px; border-radius:10%;">
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.SKU)
                    </td>
                    <td>
                        <div class="buttons_added">
                            <a asp-action="Giam" asp-route-id="@item.Id" type="button"><input type="button" value="-"></a>
                            @Html.DisplayFor(modelItem => item.Quantity)
                            <a asp-action="Tang" asp-route-id="@item.Id" type="button"><input type="button" value="+"></a>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Price)
                    </td>
                    <td>
                        <a asp-action="DeleteUser" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row" class="column" style="width:50% ;  margin-left:10%;" >
    <div class="col-md-4">
        <div class="mb-3">Tổng Tiền: @ViewBag.CartsTotal.ToString("#,##0") VND</div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary "><a asp-controller="Carts" asp-action="Pay">Pay</a></button>
            &nbsp
            <button type="submit" class="btn btn-primary "><a asp-controller="Carts" asp-action="clearCart">Clear</a></button>
        </div>
    </div>
</div>

