@model IEnumerable<doanasp.Models.Cart>
@{
    Layout = "_LayoutMember";
    string username = "anonymous";
    int Id = 0;
    if (ViewBag.id != null)
    {
        Id = ViewBag.id;

    }
    if (ViewBag.UserName != null)
    {
        username = ViewBag.UserName;
        Id = ViewBag.id;
        @section Member{<li><a asp-controller="Accounts" asp-action="Logout">Logout</a></li>};
    }
    else
    {
        @section Member{};
    }

}
@section id{@Id};
@section name{@username};
<div style="margin-left:10%;>

    <div class="column" style="width:50%">
        <table class="table">
            <thead>
                <tr>
                    <th>

                    </th>
                    <th>
                        Sản phẩm
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product.SKU)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product.Price)
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        <input type="checkbox" id="@item.Product.Id" name="@item.Quantity" value="@item.Product.Price" />
                    </td>
                    <td>
                        <img src="~/img/@item.Product.Image" alt="Computer Man" style="width:72px;height:72px;">
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Product.SKU)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Price)
                    </td>
                    <td>
                        <a asp-action="DeleteUser" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

</div>


@section productTypeName {
    <select class="input-select" asp-items="ViewBag.ProductType">
    </select>

}