@model IEnumerable<doanasp.Models.account>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdminIndex";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tendangnhap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.matkhau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hovaten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.diachi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sodienthoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phuongthucdangnhap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trangthai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tendangnhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.matkhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hovaten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.diachi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sodienthoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phuongthucdangnhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trangthai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.makhachhang">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.makhachhang">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.makhachhang">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
