@model doanasp.Models.Product
@{
    Layout = "_LayoutMember"; ViewData["Title"] = "Home Page";
    string username = "anonymous";
    int Id = 0;
    int quantity = 1;
    if (ViewBag.UserName != null)
    {
        username = ViewBag.UserName;
        Id = ViewBag.id;
        @section Member{<li><a asp-controller="Accounts" asp-action="Logout">Logout</a></li>}
    }
    else
    {
        @section Member{}
    }

    if (ViewBag.id != null)
    {
        Id = ViewBag.id;

    }
}
@section idWish{@Id}
@section id{@Id}

@section name{@username}

<body>
    <!-- /NAVIGATION -->
    <!-- BREADCRUMB -->
    <!-- /BREADCRUMB -->
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- Product main img -->
                <div class="col-md-5 col-md-push-2">
                    <div id="product-main-img">
                        <div class="product-preview">
                            <img src="~/img/@Model.Image" alt="">
                        </div>
                    </div>
                </div>
                <!-- /Product main img -->
                <!-- Product thumb imgs -->
                <div class="col-md-2  col-md-pull-5">
                    <div id="product-imgs">
                        <div class="product-preview">
                            <img src="~/img/@Model.Image" alt="">
                        </div>
                    </div>
                </div>
                <!-- /Product thumb imgs -->
                <!-- Product details -->
                <div class="col-md-5">
                    <div class="product-details">
                        <h2 class="product-name">@Model.Name</h2>
                        <div>
                            <h3 class="product-price">@Model.Price VND</h3>
                            <span class="product-available">@Model.Stock  :  In Stock</span>
                        </div>
                        <p>@Model.Description</p>
                        <div class="add-to-cart">
                            <form asp-controller="Carts" asp-action="Added" asp-route-id="@Model.Id">
                                <div class="qty-label">
                                    Qty
                                    <input type="number" asp-controller="" value="1" id="quantity" name="quantity" min="1" max="@Model.Stock">
                                </div>
                                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>add to cart</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /Product details -->
                <!-- Product tab -->
                <div class="col-md-12">
                    <div id="product-tab">
                        <!-- product tab nav -->
                        <ul class="tab-nav">
                            <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
                        </ul>
                        <!-- /product tab nav -->
                        <!-- product tab content -->
                        <div class="tab-content">
                            <!-- tab1  -->
                            <div id="tab1" class="tab-pane fade in active">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>@Model.Description</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /tab1  -->
                            <!-- tab2  -->
                            <!-- /tab2  -->
                            <!-- tab3  -->
                            <!-- /tab3  -->
                        </div>
                        <!-- /product tab content  -->
                    </div>
                </div>
                <!-- /product tab -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
    <!-- Section -->
    <!-- /Section -->
    <!-- NEWSLETTER -->

</body>
