@model IEnumerable<doanasp.Models.Comment>
@{
    Layout = "_LayoutMember"; ViewData["Title"] = "Home Page";
    string username = "anonymous";
    int Id = 0;
    if (ViewBag.UserName != null)
    {
        username = ViewBag.UserName;
        @section Member{<li><a asp-controller="Accounts" asp-action="Logout">Logout</a></li>}
        @section name{   <li><a >@username</a></li>  }
    }
    else
    {
        @section Member{}
        @section name{@username}
    }

    if (ViewBag.id != null)
    {
        Id = ViewBag.id;

    }
    Product product = ViewBag.product as Product;
    Account account = ViewBag.account as Account;
}
@section idWish{@Id}
@section id{@Id}


<body>
    <!-- /NAVIGATION -->
    <!-- BREADCRUMB -->
    <!-- /BREADCRUMB -->
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- Product main img -->
                <div class="col-md-5 col-md-push-2">
                    <div id="product-main-img">
                        <div class="product-preview">
                            <img src="~/img/product/@product.Image" alt="">
                        </div>
                    </div>
                </div>
                <!-- /Product main img -->
                <!-- Product thumb imgs -->
                <div class="col-md-2  col-md-pull-5">
                    <div id="product-imgs">
                        <div class="product-preview">
                            <img src="~/img/product/@product.Image" alt="">
                        </div>
                    </div>
                </div>
                <!-- /Product thumb imgs -->
                <!-- Product details -->
                <div class="col-md-5">
                    <div class="product-details">
                        <h2 class="product-name">@product.Name</h2>
                        <div>
                            <h3 class="product-price">@product.Price VND</h3>
                            <span class="product-available">@product.Stock  :  In Stock</span>
                        </div>
                        <p>@product.ProductType.TypeName</p>
                        <div class="add-to-cart">
                            <form asp-controller="Carts" asp-action="Added" asp-route-id="@product.Id">
                                <div class="qty-label">
                                    Qty
                                    <input type="number" asp-controller="" value="1" id="quantity" name="quantity" min="1" max="@product.Stock">
                                </div>
                                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i><a asp-controller="Carts" asp-action="Add" asp-route-id="@product.Id">add to cart </a></button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /Product details -->
                <!-- Product tab -->
                <div class="col-md-12">
                    <div id="product-tab">
                        <!-- product tab nav -->
                        <ul class="tab-nav">
                            <li class="active"><a data-toggle="tab">Description</a></li>
                        </ul>
                        <!-- /product tab nav -->
                        <!-- product tab content -->
                        <div class="tab-content">
                            <!-- tab1  -->
                            <div id="tab1" class="tab-pane fade in active">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>@product.Description</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /tab1  -->
                            <!-- tab2  -->
                            <!-- /tab2  -->
                            <!-- tab3  -->
                            <!-- /tab3  -->
                        </div>
                        <!-- /product tab content  -->
                    </div>
                </div>
                <div class="col-md-12">
                    <div id="product-tab">
                        <!-- product tab nav -->
                        <ul class="tab-nav">
                            <li class="active"><a data-toggle="tab">Comment</a></li>
                        </ul>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Account.Fullname)   @Html.DisplayFor(modelItem => item.IssueDate) <br />
                                    <img style=" max-width: 50px; max-height: 50px; border-radius: 50%;" src="~/img/user_images/@Html.DisplayFor(modelItem => item.Account.Avatar)" /><br />
                                </td>
                                <td>
                                    <img style=" max-width: 500px; max-height: 500px; border-radius: 5%;" src="~/img/comment_images/@Html.DisplayFor(modelItem => item.Image)" /><br />
                                    @Html.DisplayFor(modelItem => item.Content)
                                </td>
                            </tr>
                        }
                        <!-- /product tab content  -->
                    </div>
                    <button class="add-to-cart-btn"><i class="fa fa-mail-bulk"></i><a asp-controller="Comments" asp-action="Create" asp-route-id="@product.Id">Comment</a></button>
                </div>
                <!-- /product tab -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
    <!-- Section -->
    <!-- /Section -->
    <!-- NEWSLETTER -->

</body>
