@model IEnumerable<doanasp.Models.Product>
@{
    Layout = "_LayoutMember"; ViewData["Title"] = "Home Page";
    string username = "anonymous";
    int Id = 0;
    int top = (ViewBag.page-1)*15+1;
    int bot = top + 14;
    if (ViewBag.UserName != null)
    {
        username = ViewBag.UserName;
        Id = ViewBag.id;
        @section Member{<li><a asp-controller="Accounts" asp-action="Logout">Logout</a></li>};
    }
    else
    {
        @section Member{};
    }

    if (ViewBag.id != null)
    {
        Id = ViewBag.id;

    }
}
@section idWish{@Id};
@section id{@Id};

@section name{@username};

<body>
    <!-- HEADER -->
    <!-- /HEADER -->
    <!-- NAVIGATION -->
    <!-- /NAVIGATION -->
    <!-- BREADCRUMB -->
    <div id="breadcrumb" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb-tree">
                        <li><a asp-controller="Home" asp-action="index">Home</a></li>
                        <li class="active">Product</li>
                    </ul>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /BREADCRUMB -->
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- ASIDE -->
                <!-- /ASIDE -->
                <!-- STORE -->
                <div id="store" class="col-md-12">
                    <!-- store top filter -->
                    <!-- store products -->
                    <div class="row">
                        <!-- product -->    
                        @foreach (var item in Model)
                        {
                            <div class="col-md-4 col-xs-6">
                                <div class="product">
                                    <div class="product-img">
                                        <img src="~/img/@item.Image" alt="" width="100" height="200">
                                        <div class="product-label">
                                            <span class="sale">-30%</span>
                                            <span class="new">NEW</span>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">@item.ProductTypeId</p>
                                        <h3 class="product-name"><a asp-controller="Products" asp-action="Detail" asp-route-id="@item.Id">@item.Name</a></h3>
                                        <h4 class="product-price">@item.Price</h4>
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="product-btns">
                                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                            <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                            <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i><a asp-controller="Carts" asp-action="Add" asp-route-id="@item.Id">add to cart </a></button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <!-- /store products -->
                    <!-- store bottom filter -->
                    <div class="store-filter clearfix">
                        <span class="store-qty">Showing @top - @bot  products</span>
                        @if (ViewBag.page == 1)
                        {
                            <ul class="store-pagination">
                                <li class="active">1</li>
                                <li><a asp-controller="Products" asp-action="PD" asp-route-page="2">2</a></li>
                            </ul>
                        }
                        @if (ViewBag.page == 2)
                        {
                            <ul class="store-pagination">
                                <li><a asp-controller="Products" asp-action="PD" asp-route-page="1">1</a></li>
                                <li class="active" >2</li>
                            </ul>
                        }
                    </div>
                    <!-- /store bottom filter -->
                </div>
                <!-- /STORE -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
    <!-- NEWSLETTER -->
</body>

