@model doanasp.Models.Comment

@{
    ViewData["Title"] = "Create"; Layout = "_LayoutAdminIndex";
    string username = "anonymous";
    if (ViewBag.UserName != null)
    {
        username = ViewBag.UserName;
        @section Member{<li><a asp-controller="Accounts" asp-action="Logout">Logout</a></li>}

    }
    else
    {
        @section Member{}

    }
}
@section name{@username}

<div style="width:50% ;  margin-left:10%;" >
    <h4>Comment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Account.Fullname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IssueDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IssueDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            <img style=" max-width: 100px; max-height: 100px; border-radius: 5%;" src="~/img/comment_images/@Html.DisplayFor(model => model.Image)" /><br />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>
    </dl>
</div>
<div style="width:50% ;  margin-left:10%;" >
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
