@model doanasp.Models.ChiTietHoaDon

@{
    ViewData["Title"] = "Details";
    //Layout = "_LayoutAdminIndex";
}

<h1>Details</h1>

<div>
    <h4>ChiTietHoaDon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.diachi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.diachi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ghichu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ghichu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ngaylap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ngaylap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.capnhat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.capnhat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tongtien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tongtien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.trangthai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.trangthai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
