@model IEnumerable<doanasp.Models.ChiTietHoaDon>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdminIndex";
}
<nav id="nav">
    <h1>Chi Tiết Hóa Đơn</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.diachi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ghichu)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ngaylap)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.capnhat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tongtien)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.trangthai)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.diachi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ghichu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ngaylap)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.capnhat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tongtien)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.trangthai)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</nav>